<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置注解驱动-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"></property>
                <property name="fastJsonConfig" ref="fastJsonConfig"></property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="fastJsonConfig" class="com.alibaba.fastjson.support.config.FastJsonConfig">
        <property name="serializerFeatures">
            <array>
                <!--
                    WriteMapNullValue:当某一个属性为null时，继续输出
                -->
                <value>WriteMapNullValue</value>
                <!--
                    WriteDateUseDateFormat：将日期格式化为"yyyy-MM-dd",默认是long类型
                -->
                <value>WriteDateUseDateFormat</value>
            </array>
        </property>
    </bean>


    <!--配置服务消费者的应用名称-->
    <dubbo:application name="health_mobileweb"></dubbo:application>
    <!--配置注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
    <!--配置注解扫描-->
    <dubbo:annotation package="com.itheima.controller"></dubbo:annotation>
    <!--配置启动时不检查提供者，配置超时时间-->
    <dubbo:consumer check="false" timeout="600000"></dubbo:consumer>

    <!--引用redis的配置文件-->
    <import resource="classpath:applicationContext-redis.xml"></import>

</beans>
